/**
*
*Single style sheet for customizing the output for room reservation calendar
*
*/

//Variables
$midnight:               #333f48;
$midnight-60:            #8b929d;
$midnight-40:            #bdc1c7;
$midnight-20:            lighten( $midnight-40, 5% );
$light-gray:            #efefef;
$white:                  white;
$call-to-action:        #29abe2;


//simple mixins
@mixin bold-header{
        text-transform: uppercase;
        font-weight: bold;    
}

@mixin now-styling{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .9em;
    padding: .1em .3em;
}

//styling
html{
    font-size: 2vh;
    height: 100%;
}

body{
    font-family: "Gotham Narrow A", "Gotham Narrow B", Arial, sans-serif;
    height: 100%;
    background-color: $light-gray;    
}

.fwf-res-container{
    box-sizing: border-box;
    padding: 1em;

    //height: 100vh;
    
    & > * {
        box-sizing: border-box;
        text-align:center;
    }
}

.fwf-l-res-time-slot{
    

    &--free{
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $white;
    color: $call-to-action;
    margin: .1em;
    box-shadow: 0 10px 6px -6px rgba( $midnight-40, .6 );
    border: 1px solid $midnight-20;
    padding: 1em;
    
        .fwf-c-res-time-slot--current{
            @include now-styling;
            color: $midnight;
            border: 1px solid rgba( $midnight, .4 );
        }        
        
    }
    
    &--occupied{
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: row;        
    align-items: center;
    background-color: $midnight-20;
    margin: .1em;
    box-shadow: 0 10px 6px -6px rgba( $midnight-40, .6 );
    padding: 1em;
    border: 1px solid $midnight-40;  

    
    .fwf-c-res-time-slot--current{
        @include now-styling;
        color: $midnight;
        border: 1px solid rgba( $midnight, .4 );
        background: rgba( $white, 0.7 );
    }    
        
    }
}

.fwf-l-occupied__container{
    padding: 0 2em;
    
    &:last-of-type{
        border-left: 1px solid $midnight-60;
    }
    
    .fwf-c-occupied__header{
        @include bold-header;
    }
}

.fwf-l-free__container{
    padding: 0 2em;
    
    .fwf-c-free__header{
        @include bold-header;        
    }
}

